div:hover {
    border: 5px solid black;
}

div:nth-of-type(1) > h3{
    color: purple;
    background-color: rgb(179, 255, 0);
}

div:nth-of-type(2) > h3{
    color: aqua;
    background-color: green;
}

div:nth-of-type(3) > h3 {
    padding: 15px;
    color: black;
    background-color: blue;
}

div:nth-of-type(4) > h3{
    color: blueviolet;
    background-color: brown;
}

div:nth-of-type(5) > h3{
    color: cyan;
    background-color: cornflowerblue;
}

div:nth-child(odd) h3 {
    font-style: italic;
}